In [1]:
import pandas as pd

### Merge Dataset

In [2]:
df1 = pd.read_csv('../dataset/dataset_mobil_listrik.csv', encoding='utf-8')
df2 = pd.read_csv('../dataset/tweets_sentiment_covid_fix.csv', encoding='utf-8')
df3 = pd.read_csv('../dataset/dataset_digital_bank_indo.csv', encoding='utf-8')

In [4]:
df1[['text_cleaning', 'sentimen']]

                                          text_cleaning sentimen
0     saran sih bikin   harga ionic sama kayak brio ...  positif
1     problem subsidi kualitas diturunin harga dinai...  negatif
2     baik kualitas kembang dulu baik kualitas motor...  positif
3          model jelek kwalitas buruk harga mahal croot  negatif
4     syarat   ngaco woy anak muda   blom punya ruma...  negatif
...                                                 ...      ...
1512    apa kabar padahal negri luar biasa dapat negara  negatif
1513    antar anak sekolah antar bantu pasar klw jau...  negatif
1514                                 esemka bangga solo  positif
1515    cerdas  orang  hny dn pasar itu jln x blom d...   netral
1516  niat beli ev murah malah ikut dinaikin sama pe...  negatif

[1517 rows x 2 columns]

In [6]:
df2[['text_clean', 'polarity']]

                                             text_clean  polarity
0     plissss lah masa w ke surabaya pas covid mulu dah  negative
1     mutiara yang enak di keluarga btw bakpia tugu ...  negative
2     profil doni monardo mantan kepala bnpb dan ket...  negative
3     doni monardo mantan ketua satgas covid berpula...  negative
4     maxim penganti go massage go life dulu saya ik...  negative
...                                                 ...       ...
1300  heheh ketemu setaon skali belum tentu sejak pa...  negative
1301  kamu kuliah dimana nder aku sebelum pandemi di...  negative
1302  terima kasih kepada para wisatawan yang sudah ...  negative
1303  kanwil kemenkumham jatim wisnu nugroho dewanto...  negative
1304  kanwilkemenkumham jatim wisnu nugroho dewanto ...  negative

[1305 rows x 2 columns]

In [8]:
df3[['text_clean', 'sentimen']]

                                             text_clean sentimen
0     coba dulu kalau bagus nnti ditambahin bintang nya  positif
1      raiso login emaneman tiwas gawe rekening mubazir  negatif
2     gk jadi pinjam tolong hapus data saya sistem o...   netral
3                                 susah banget masuknya  negatif
4                                                   oke  positif
...                                                 ...      ...
1495  awalnya aplikasi ini sangat bagus sekali tapi ...  negatif
1496  sudah bagus tapi coba tambahkan fitur copy nom...  positif
1497                                               like  positif
1498                                        loding lama  negatif
1499  bagus banget deh aplikasinya  aku ngerasa keba...  positif

[1500 rows x 2 columns]

In [9]:
# Transform label df2

def translate_polarity(polarity):
    if polarity == 'positive':
        return 'positif'
    elif polarity == 'negative':
        return 'negatif'
    else:
        return 'netral'

In [13]:
df2['sentimen'] = df2['polarity'].apply(translate_polarity)
df2[['text_clean', 'polarity', 'sentimen']].head(150)

                                            text_clean  polarity sentimen
0    plissss lah masa w ke surabaya pas covid mulu dah  negative  negatif
1    mutiara yang enak di keluarga btw bakpia tugu ...  negative  negatif
2    profil doni monardo mantan kepala bnpb dan ket...  negative  negatif
3    doni monardo mantan ketua satgas covid berpula...  negative  negatif
4    maxim penganti go massage go life dulu saya ik...  negative  negatif
..                                                 ...       ...      ...
145  rigen david yulianto bpjs covid  m perut chind...  positive  positif
146  id rigen david yulianto bpjs covid  m perut ch...  positive  positif
147  kira rigen david yulianto bpjs covid  m perut ...  positive  positif
148  pddki rigen david yulianto bpjs covid  m perut...  positive  positif
149  rigen david yulianto bpjs covid  m perut chind...   neutral   netral

[150 rows x 3 columns]

In [14]:
df1 = df1.rename(columns={'text_cleaning': 'text'})
df2 = df2.rename(columns={'text_clean': 'text'})
df3 = df3.rename(columns={'text_clean': 'text'})

In [15]:
df_merge = pd.concat([df1[['text', 'sentimen']], df2[['text', 'sentimen']].head(150), df3[['text', 'sentimen']]], ignore_index=True)
df_merge

                                                   text sentimen
0     saran sih bikin   harga ionic sama kayak brio ...  positif
1     problem subsidi kualitas diturunin harga dinai...  negatif
2     baik kualitas kembang dulu baik kualitas motor...  positif
3          model jelek kwalitas buruk harga mahal croot  negatif
4     syarat   ngaco woy anak muda   blom punya ruma...  negatif
...                                                 ...      ...
3162  awalnya aplikasi ini sangat bagus sekali tapi ...  negatif
3163  sudah bagus tapi coba tambahkan fitur copy nom...  positif
3164                                               like  positif
3165                                        loding lama  negatif
3166  bagus banget deh aplikasinya  aku ngerasa keba...  positif

[3167 rows x 2 columns]

In [16]:
df_merge.to_csv(
    '../output/merge/dataset_merge.csv',
    columns=df_merge.columns,
    index=False
)